/* CSS RESET CODE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/karla-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CSS VARIABLES */
:root {
  /* COLORS */
  --main-bg: hsl(148, 38%, 91%);
  --card-bg: hsl(0, 0%, 100%);
  --button-bg: hsl(169, 82%, 27%);
  --grey-900: hsl(187, 24%, 22%);
  --errors-color: hsl(0, 66%, 54%);
  --textbox-border-color: hsl(186, 15%, 59%);
  /* FONTS */
  --heading-ft-sz: 2rem;
  --body-ft-sz-md: 1.125rem;
  --body-ft-sz-sm: 1rem;
  --bold-ft-wt: 700;
  --ff: "Karla", sans-serif;
  /* SPACING */
  --spacing-100: 0.25rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1600: 8rem;
}
body {
  font-family: var(--ff);
}
main {
  min-height: 100vh;
  background-color: var(--main-bg);
  padding-block: var(--spacing-400);
}
/* CARD */
.card {
  width: min(calc(100% - var(--spacing-200) * 2), 46rem);
  background-color: var(--card-bg);
  margin-inline: auto;
  padding: var(--spacing-300);
  border-radius: 16px;
}
/* FORM HEADING */
.card h1 {
  margin-bottom: var(--spacing-400);
}
/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
}
/* FORM CONTAINER EXCLUDING SUBMIT AND CONSENT CHECKBOX */
.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
