/* CSS RESET CODE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/karla-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CSS VARIABLES */
:root {
  /* COLORS */
  --main-bg: hsl(148, 38%, 91%);
  --card-bg: hsl(0, 0%, 100%);
  --button-bg: hsl(169, 82%, 27%);
  --grey-900: hsl(187, 24%, 22%);
  --errors-color: hsl(0, 66%, 54%);
  --textbox-border-color: hsl(186, 15%, 59%);
  /* FONTS */
  --heading-ft-sz: 2rem;
  --body-ft-sz-md: 1.125rem;
  --body-ft-sz-sm: 1rem;
  --bold-ft-wt: 700;
  --ff: "Karla", sans-serif;
  /* SPACING */
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1600: 8rem;
}
body {
  font-family: var(--ff);
  color: var(--grey-900);
  line-height: 1.5;
}
main {
  min-height: 100vh;
  background-color: var(--main-bg);
  padding-block: var(--spacing-400);
}
/* CARD */
.card {
  width: min(calc(100% - var(--spacing-200) * 2), 46rem);
  background-color: var(--card-bg);
  margin-inline: auto;
  padding: var(--spacing-300);
  border-radius: 16px;
}
/* FORM HEADING */
.card h1 {
  margin-bottom: var(--spacing-400);
  line-height: 1;
  font-size: var(--heading-ft-sz);
}
/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-500);
}
/* FORM CONTAINER EXCLUDING SUBMIT AND CONSENT CHECKBOX */
.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}
/* FORM CONTAINER CHILDREN */
.form-container > * {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
.required {
  margin-left: var(--spacing-100);
  color: var(--button-bg);
}
/* NAME */
.name {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-300)
}
.first-name, .last-name {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-100);
}
/* QUERY */
.query {
  /* OVERRIDE SPACING-100 ABOVE */
  gap: var(--spacing-200);
}
/* INPUT TEXT BOX AND QUERY TYPE BORDER */
.query-type,
.form-container div input, .message textarea {
  border: 1px solid var(--textbox-border-color);
  padding: var(--spacing-150) var(--spacing-300);
  border-radius: 8px;
}
.query-btns {
  display: inline-flex;
  flex-direction: column;
  gap:var(--spacing-200);
}
.query-type {
  font-size: var(--body-ft-sz-md);
}
/* MESSAGE TEXTAREA */
.message textarea {
  height:18.462em;
}
/* CONSENT */
.consent {
  display: flex;
  flex-direction: column;
  gap:var(--spacing-100);
}
/* SUBMIT BUTTON */
.btn {
  border: none;
  padding: var(--spacing-200) var(--spacing-500);
  background-color: var(--button-bg);
  border-radius: 8px;
  color: var(--card-bg);
  cursor: pointer;
  font-size: var(--body-ft-sz-md);
  font-weight: var(--bold-ft-wt);
  font-family: var(--ff);
  line-height: 1.5;
}
/* SUCCESS MESSAGE */
.success-msg {
  position: fixed;
  top: var(--spacing-300);
  background-color: var(--grey-900);
  width: min(calc(100% - var(--spacing-300) * 2), 450px);
  color: white;
  right: 50%;
  transform: translateX(50%);
  border-radius: 8px;
  padding: var(--spacing-300);
}
.success-msg__header {
  display: flex;
  /*  justify-content: center;*/
  align-items: center;
  gap: var(--spacing-100);
}
.success-msg__heading {
  font-size: var(--body-ft-sz-md);
  font-weight: var(--bold-ft-wt);
}
.success-msg__text {
  margin-top: var(--spacing-100);
  color: var(--main-bg);
  font-size: var(--body-ft-sz-sm);
}
/* ERRORS MESSAGE */
.error-msg, .invalid-email {
  color:var(--errors-color)
}

.hidden {
  display: none;
}

@media (min-width:48em) {
  .name, .query-btns {
    flex-direction:row;
    gap:var(--spacing-200);
  }
  .name > *, .query-btns > * {
    flex-grow:1;
  }
  .message textarea {
    height:6em;
  }
}
